h1 {
    text-align: center;
    margin: 20;
    padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: auto;
  border: 1px solid #000;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #eee;
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}